<div class="container col-5 card p-5">
    <br>
    <%= form_with model: @square do |form| %>
        <% @square.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>  
        
        <div>
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Seleccionar el estado.">Estado:</button>           
            <%= form.select(:state, [['Disponible', 0], ['No disponible', 1]]) %>
        </div>  

        <div>    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Ingresar nombre de la canchan.">Nombre de la cancha:</button>           
            <%= form.text_field :name,  class: "form-control" %>
        </div>

        <div>    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Ingresar Ubicación de la canchan.">Ubicación de la cancha:</button>           
            <%= form.text_field :address,  class: "form-control" %>
        </div>

        <br>    
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, squares_path %>

    <% end %>
</div>        
 <br>


      
