<div class="container col-5 card p-5">
    <br>
    <%= form_with model: @level do |form| %>
        <% @level.errors.full_messages.each do |error| %>
            <div class="alert alert-danger" role="alert">
                <%= error%> <%= alert %>
            </div>
        <% end %>  
        
        <div>
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Seleccionar el estado.">Estado:</button>           
            <%= form.select(:state, [['Activo', 0], ['Inactivo', 1]]) %>
        </div>  

        <div>
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Seleccionar si el nivel.">Nivel:</button>           
            <%= form.select(:level_user, [['Nuevo', 1], ['Antiguo', 2], ['Administrador', 3]]) %>
        </div>  

        <div>
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Seleccionar si presenta restricción.">Restricción:</button>           
            <%= form.select(:restriction, [['No', 0], ['Si', 1]]) %>
        </div>  


        <div>    
            <button type="button" class="btn btn-light" data-bs-toggle="tooltip" data-bs-html="true" title="Ingresar los días de restricción.">Días de restricción:</button>           
            <%= form.number_field :restriction_count,  class: "form-control" %>
        </div>

        <br>    
        <button type="submit" class="btn btn-primary"><%=t('common.submit')%></button>
        <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, levels_path %>

    <% end %>
</div>        
 <br>


      
