<%= render 'shared/header' %>

<div class="container col-11 card p-5">
    <div class="row g-3">
        <div class="col-sm-8">
            <h4 class="display-7"><%= @calendar.name_day %>, <%= @calendar.day %> de <%= @calendar.label_month(@calendar.month) %> de <%= @calendar.year %></h4>
        </div>
        <div class="col-sm-3">    
            <%= link_to '<button class="btn btn-primary" type="button">Retornar</button>'.html_safe, home_path %>
        </div>    
    </div>
    <br>

    <div class="form-group">    
        <strong><%= t('.observation') %></strong>
        <%= @activity.observation %>    
    </div>

    <div class="form-group">    
        <strong><%= t('.state') %></strong><br>
        <%= @activity.label_state(@activity.state) %> 
    </div>

    <div class="form-group">    
        <strong><%= t('.user_id') %></strong>
        <%= @activity.user.name %>
    </div>

    <div class="form-group">    
        <strong><%= t('.user_id') %></strong>
        <%= @activity.square.place_reserva %>
    </div>
    
</div> 
