<%= render 'shared/header' %>

<%= render 'shared/header2' %>

<br>
<div class="container col-11 card p-5">
        <div class="d-flex">
            <div class="container">
               <h2 class="display-5"> <%= t('.title')%></h2>
            </div> 
        </div>
        <div>
            <%= link_to t('.create_place'), new_place_path, class: 'btn btn-xs btn-primary'  %>
        </div>
        <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><%= t('.id') %></th>
                <th scope="col"><%= t('.state') %></th>
                <th scope="col"><%= t('.place_reserva') %></th>

                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <%= render partial: 'place', collection: @places  %>  
        </tbody>      
    </table>
</div>
<br>
